<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% load static %}
<meta charset="UTF-8">
<title>简易聊天室</title>
<link rel="stylesheet" type="text/css" href="{% static 'index/styles.css' %}">
</head>
<body>
    <div id="chatbox">
        <div id="messages"></div>
        <div id="input">
            <select id="role">
<option value="BocaChica">博卡奇卡</option>
<option value="London">伦敦</option>
<option value="Cairo">开罗</option>
<option value="Wellington">惠灵顿</option>
<option value="BuenosAires">布宜诺斯艾利斯</option>
<option value="Washington">华盛顿</option>
<option value="LosAngeles">洛杉矶</option>
<option value="Beijing">北京</option>
<option value="Shanghai">上海</option>
<option value="Tokyo">东京</option>
<option value="Calcutta">加尔各答</option>

                <option value="admin">管理员</option>
            </select>
            <input type="text" id="message" placeholder="输入消息...">
            <input type="button" value="发送" onclick="sendMessage()">
        </div>
    </div>
<script src="{% static 'index/script.js' %}"></script>
</body>
</html>
