<!DOCTYPE html>
<html lang="zh">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据大屏</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="dashboard">
        <div class="header">
            <h1>卫星城市信息大屏</h1>
            <div class="top-bar">
            <select class="select-box">
            </select>
        </div>
        </div>
        <div class="card">
            <h2>卫星数量</h2>
            <p id="NumberOfSatellites">加载中...</p>
            <h2>城市数量</h2>
            <p id="NumberOfCity">加载中...</p>
        </div>
        <div class="card">
            <h2>天气</h2>
            <p>晴，23°C</p>
        </div>
        <div class="card">
            <h2>股市指数</h2>
            <p>上证指数: 3500.10</p>
            <p>纳斯达克: 14000.75</p>
        </div>
        <div class="card">
            <h2>新闻摘要</h2>
            <ul>
                <li>新闻一: 某地发生重大事件...</li>
                <li>新闻二: 最新科技产品发布...</li>
                <li>新闻三: 体育赛事更新...</li>
            </ul>
        </div>
    </div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>
